.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.addButton {
  background-color: var(--primary) !important;
  color: #fff !important;
  height: 3.5rem !important;
  width: 3.5rem !important;
  position: absolute !important;
  bottom: 3rem;
  right: 3rem;
}

.addButton:hover {
  background-color: var(--darkPrimary);
}
